<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name="dev, docker">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="br.com.netlit" level="DEBUG"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
  </springProfile>

  <springProfile name="stage, prod">
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="br.com.netlit.logging.LoggingLayout">
          <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
          <appendLineSeparator>true</appendLineSeparator>
        </layout>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="JSON"/>
    </root>

    <logger name="br.com.netlit" level="DEBUG"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
  </springProfile>
</configuration>