<html xmlns:th="http://www.w3.org/1999/xhtml">

<meta charset="UTF-8">
<head>
    <title> E-mail </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<header>
    <hr style="color: rgb(22,32,86);">
</header>

Nome: <h4 style="font-size: 10px;"><strong th:text="${varName}" /></h4>
E-mail: <h4 style="font-size: 10px;"><strong th:text="${varEmail}" /></h4>
Telefone: <h4 style="font-size: 10px;"><strong th:text="${varTelephone}" /></h4>
Escola: <h4 style="font-size: 10px;"><strong th:text="${varSchool}" /></h4>
Cidade: <h4 style="font-size: 10px;"><strong th:text="${varCity}" /></h4>
Estado: <h4 style="font-size: 10px;"><strong th:text="${varState}" /></h4>
Assunto: <h4 style="font-size: 10px;"><strong th:text="${varSubject}" /></h4>
Número do pedido: <h4 style="font-size: 10px;"><strong th:text="${varRequestNumber}" /></h4>
Mensagem: <h4 style="font-size: 10px;"><strong th:text="${varMessage}" /></h4>

</html>