<html xmlns:th="http://www.w3.org/1999/xhtml">

<meta charset="UTF-8">
<head>
    <title> E-mail </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<header>
    <hr style="color: rgb(22,32,86);">
</header>
Escola/Instituição: <h4 style="font-size: 10px;"><strong th:text="${varSchool}" /></h4>
Nome: <h4 style="font-size: 10px;"><strong th:text="${varName}" /></h4>
Cargo: <h4 style="font-size: 10px;"><strong th:text="${varFunction}" /></h4>
E-mail: <h4 style="font-size: 10px;"><strong th:text="${varEmail}" /></h4>
Celular: <h4 style="font-size: 10px;"><strong th:text="${varTelephone}" /></h4>
Estado: <h4 style="font-size: 10px;"><strong th:text="${varState}" /></h4>
Cidade: <h4 style="font-size: 10px;"><strong th:text="${varCity}" /></h4>
Qual a sua necessidade: <h4 style="font-size: 10px;"><strong th:text="${varNeed}" /></h4>

</html>